{
    "telnet_port":"2137",

    "home_path": "/home/liquidsoap/emiter/",
    "path_schedules": "/home/liquidsoap/emiter/data/",
    "path_playlists": "/home/liquidsoap/emiter/data/",
    "path_auditions": "/srv/ra/audycje/",
    "path_temp_records": "/srv/record/",
    "path_spy": "/srv/ra/szpieg/",
    "path_liquidsoap_bin": "/home/liquidsoap/.opam/4.08.0/bin/liquidsoap",
    "url_program_api":"https://cloud.radioaktywne.pl/api",

    "input_studio_prefix":"",
    "input_studio_user":"source",
    "input_studio_password": "####",

    "output_prefix":"ra",
    "output_host": "localhost",
    "output_port": "8000",
    "output_password": "####",
    
    "output_name": "Radio Aktywne",
    "output_desc": "Radio Aktywne",
    "output_url": "http://radioaktywne.pl",

    "default_user": "liquidsoap",
    "file_uid": 33,
    "file_gid": 133,

    "spy_days_stored": 7,

    "auto_playlist_config":{
        "music_containers": {
            "MUSD": "/srv/ra/playlista/dzien/",
            "MUSN": "/srv/ra/playlista/noc/",
            "JIN": "/srv/ra/jingle/"
        },

        "playlists": {
            "muzyka_dzien": {

                "description":"Muzyka w dzień (6-22)",
                "mixing": {
                    "JIN":{
                        "min":1,
                        "max":1,
                        "track_repeat":3
                    },
                    "MUSD":{
                        "min":1,
                        "max":3,
                        "track_repeat":200,
                        "album_repeat":100,
                        "artist_repeat":50 
                    }
                }
            },
            "muzyka_noc": {

                "description":"Muzyka w nocy (22-6)",
                "mixing":{
                    "JIN":{
                        "min":1,
                        "max":1,
                        "track_repeat":3
                    },
                    "MUSN":{
                        "min":2,
                        "max":5,
                        "track_repeat":200,
                        "album_repeat":100,
                        "artist_repeat":50 
                    }
                }
            }
        }
    }
}